extends layout

append scripts
  script(src='/socket.io/socket.io.js')
  script(src='/lib/kinetic-v4.1.2.min.js')
  script(src='/lib/jquery-1.8.3.min.js')
  script(src='/lib/underscore.js')
  script(src='/client/preload.js')
  script(src='/client/effects.js')
  script(src='/client/map_creatures.js')
  script(src='/client/map.js')
  script(src='/client/splash.js')
  script(src='/client/biogame.js')
  script(src='/socket.io/socket.io.js')

block content
  div#biogame.canvas
  aside.sidebar
    section#creature-classes
    div#upload-ui
      input(type="file",id="js_file",name="js_file")
      input(type="button", id="upload_go",name="upload_go",value="Upload")
      script(src='/client/upload.js')
