extends layout

block scripts
  script(src='http://kineticjs.com/download/v4.1.2/kinetic-v4.1.2.js')
  script(src='public/client/biogame.js')
  script(src='public/client/map.js')

block content
  h1= title
  canvas#biogame
