extends layout

append scripts
  script(src='/socket.io/socket.io.js')
  script(src='/lib/kinetic-v4.1.2.min.js')
  script(src='/lib/jquery-1.8.3.min.js')
  script(src='/lib/underscore.js')
  script(src='/client/map_creatures.js')
  script(src='/client/map.js')
  script(src='/client/splash.js')
  script(src='/client/biogame.js')
  script(src='/socket.io/socket.io.js')

block content
  div#biogame.canvas
  aside.sidebar
    ul#creature-classes
    div#upload-ui
      input(type="file",name="js_file",id="js_file")
      input(type="submit")
