extends layout

block scripts
  script(src='http://kineticjs.com/download/v4.1.2/kinetic-v4.1.2.js')
  script(src='client/biogame.js')
  script(src='client/map.js')

block content
  canvas#biogame
