extends layout

append scripts
  script(src='/socket.io/socket.io.js')
  script(src='/lib/kinetic-v4.1.2.min.js')
  script(src='/lib/jquery-1.8.3.min.js')
  script(src='/lib/underscore.js')
  script(src='/client/map_creatures.js')
  script(src='/client/util.js')
  script(src='/client/map.js')
  script(src='/client/splash.js')
  script(src='/client/biogame.js')
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/communication.js')

block content
<<<<<<< HEAD
  h1= title
  p Welcome to #{title}
  input(type='button', id='sendRequest', value='Get Map')
=======
  div#biogame.canvas
  aside.sidebar
    ul#creature-classes
    div#upload-ui
      form(action="/file_upload",method="POST",enctype="multipart/form-data")
        input(type="file",name="js_file")
        input(type="submit")
>>>>>>> 2467a34f6057e46538907f3bfc624c60b3de3b20
