html {
    height: 100%;
}

body {
    margin: 0; padding: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    position: relative;
    height: 100%;
    overflow: hidden;
}

aside {
    display: block;
}

a {
    color: #00B7FF;
}

.canvas {
    margin: 0; padding: 0;
    position: absolute;
    top: 0; right: 350px; left: 0;
    height: 100%;
    background-color: #252525;
}

.sidebar {
    margin: 0; padding: 0;
    width: 350px;
    position: absolute;
    top: 0; right: 0;
    height: 100%;
}
